<link rel="stylesheet" href="/static/style2.css" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap" rel="stylesheet"> 

<section class="intro">
  <h1>{{ intro.title }}</h1>
  <p>
    {{ intro.description }}
    <a href="/about.html">Learn more</a>
  </p>
</section>

<section class="projects-section">
  <h2>{{ works.title }}</h2>
  <ul class="projects-list">
    {% for project in works.projects %}
    <li class="project">
      <div class="project-meta">
        <img
          class="project-logo"
          src="{{ project.logo }}"
          alt="{{ project.name }}'s logo"
          width="80"
          height="80"
        />
        <div class="project-info">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
          {% if project.isPublished %}
            <span class="project-ratings"> ⭐ {{ project.ratings }} </span>
            <a class="project-url" rel="noopener noreferrer" target="_blank" href="{{ project.url }}">View</a>
          {% endif %}
        </div>
      </div>
      <ul class="project-highlights">
        {% for highlight in project.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>

<div class="social">
  <section class="blog">
    <h2>{{ blog.title }}</h2>
    <ul class="blog-articles">
      {% for article in blog.articles %}
        <li class="blog-article">
          <a rel="noopener noreferrer" target="_blank"  href="{{ article.url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="social-media">
    <h2>{{ socialMedia.title }}</h2>
    <p>{{ socialMedia.description }}</p>

    <ul class="social-media-platforms">
      {% for platform in socialMedia.platforms %}
      <li class="social-media-platform">
        <a rel="noopener noreferrer" target="_blank" href="{{ platform.url }}">{{ platform.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="email">
    <h2>{{ email.title }}</h2>
    <p>{{ email.description }}</p>
    <a class="email-url" href="mailto:{{ email.emailId }}">{{ email.emailLabel }}</a>
  </section>
</div>

